$gray-color: #969CA3;
$light-gray-color: #F4F4FB;
$white-gray-color: #F2F4F5;

$white-color: #FFFFFF;

$dark-color: #201F2B;
$dark-color-075: rgba(32, 31, 43, .75);
$dark-color-05: rgba(32, 31, 43, .5);
$dark-color-02: rgba(32, 31, 43, .2);

$blue-color: #221ECC;
$blue-color-05: rgba(34, 30, 204, .5);

$green-color: #6ECBB2;

$yellow-color: #FFB816;

$yellow-color-07: rgba(255, 184, 22, .7);

$red-color: #EC3751;
$red-color-07: rgba(236, 55, 81, .7);

$black-color-01: rgba(0, 0, 0, .1);